<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="albums.css">

</head>
<body>
<form action="#" th:action="@{/addAlbum}" method="post">

    <label>Album Title:</label>
    <input type="text" name="title"  required/>
    <br>
    <label>Artist:</label>
    <input type="text" name="artist" required/>
    <br>
    <label>Song Count:</label>
    <input type="number" name="songCount"  required />
    <br>
    <label>Length:</label>
    <input type="number" name="length" required/>
    <br>
    <label>Image URL:</label>
    <input type="text" name="imageUrl"  required />
    <br>
    <input type="submit" value="Submit"/>
</form>







<!--loop throw each album in the model / using attribute name albums-->

<div class="card" th:each="album : ${albums}">
    <img th:src="${album.imgUrl}" alt="Avatar" style="width:25%">
    <div class="container">
        <h4><b> Album Name  : <span th:text="${album.title}"> </span></b></h4>
        <p>Artist Name  : <span th:text="${album.artist}"></span></p>
        <p> Song  Count  : <span th:text="${album.songCount}"> </span></p>
        <p> Album Length : <span th:text="${album.length }"> </span></p>
    </div>
</div>
</body>
</html>
